<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="mendr"><h1><font color="white">MED</font></h1></a>

        </div>
    </nav>

    <div class="container mt-5" >
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <b><label class="formkit-label" for="input_0"><h5>Horario De Atencion</h5></label></b>
                    <form action="/hrdoc" method="post">
            
                        
                        
                        <div class="form-group">
                            <input type="text" name="IDD" placeholder="Codigo"  class="form-control">
                    
                        </div>
                        <div class="form-group">
                            
                            <input type="text" name="Ndoc" placeholder="Nombre Completo"   class="form-control">
                    
                        </div>
                        <div class="form-group">
                            <label class="formkit-label" for="input_0">Fecha De Atencion</label>
                            <input type="date" name="fecaten"  class="form-control">
                    
                        </div>

                        <label class="formkit-label" for="input_0">Horario Matutino</label>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc1" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc2" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc3" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc4" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc5" class="form-control">
                    
                        </div>

                        <label class="formkit-label" for="input_0">Horario Vespertino</label>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc6" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc7" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc8" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc9" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc10" class="form-control">
                    
                        </div>

                        <div class="form-group">
                            
                            <input type="time" name="Hdoc11" class="form-control">
                    
                        </div>
                        
                        <button  class="btn btn-primary">Registrar Horario</button>
                    </p>
                    </form>
                </div>
            </div>
        </div>
            

  </body>
</html>