<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>Med | Consultas</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/mendresp/<%= User %>#facts"><h1><font color="white">MED</font></h1></a>
        </div>
    </nav>

    <div class="container mt-5">
        
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                <form action="/fnconsule/<%=data.Idcon%>" method="post">
        
                   

            <div class="form-group text-center">
                <label class="formkit-label" for="input_0"><b>Paciente</b></label>
                <input type="text" name="Nocli" value="<%= data.Noclie %>"  class="form-control text-center">
        
            </div>
           
            <div class="form-group text-center">
                <label class="formkit-label" for="input_0"><b>Fecha Consulta</b></label>
                <input type="text" name="Fecconsul" value="<%= data.Fecconsul %>"  class="form-control text-center">
        
            </div>

            <p> <div class="formkit-outer text-center" data-type="select">
                <div class="formkit-wrapper">
                  <label class="formkit-label" for="input_0">Estatus</label>
                  <div class="formkit-inner">
                    <select class="formkit-input" id="input_0" name="stcconsul">
                      <option class="formkit-option" value=""></option>
                      <option class="formkit-option text-center" value="A">Atendido</option>
                      <option class="formkit-option text-center" value="F">Farmacia</option>
                      <option class="formkit-option text-center" value="L">Laboratorio</option>
                      <option class="formkit-option text-center" value="FL">Farmacia|Laboratorio</option>
                    </select>
                  </div>
                </p>
                   
                    <div class="form-group text-center">
            <button type="submit" class="btn btn-success text-center">
                Guardar Cambios
            </button>
                    </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>