<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link href="/assets/img/favico.ico" rel="icon">
    
    <title>MED | Usuario</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-dark-200">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/menadmin/<%= User %>#about"><h1><font color="white">MED</font></h1></a>

        </div>
    </nav>

    <div class="container mt-5" >
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <b><label class="formkit-label" for="input_0"><h5>Creacion de Usuario</h5></label></b>
                    <form action="/nuser/" method="post">
            
                        
                        
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" name="Nuser" placeholder="Nombre De Empleado" required class="form-control text-center">
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" name="User" placeholder="Usuario"   required class="form-control text-center">
                          </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="password" name="Pass" placeholder="Password" required class="form-control text-center">
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" name="Nacuser" placeholder="Nacionalidad" required class="form-control text-center">
                          </div>
                        </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <label class="formkit-label" for="input_0">Fecha De Nacimiento</label>
                            <input type="date" name="Fecnac" required class="form-control text-center">
                            </div>
                          </div>
                          <div class="col-md-6 mb-4">
                            <div class="form-outline">
                              <label class="formkit-label" for="input_0">Fecha De Ingreso</label>
                              <input type="date" name="Fecingre" required class="form-control text-center">
                            </div>
                          </div>
                          </div>

                        <div class="form-group">
                          <input type="text" name="DPI" placeholder="DPI" required class="form-control text-center"> 
                          </div>
                           
                    
                             <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                                  <label class="formkit-label" for="input_0">Rol</label>
                                  <div class="formkit-inner">
                                    <select required class="formkit-input" id="input_0" name="Rol">
                                      <option class="formkit-option text-center" value=""></option>
                                      <option class="formkit-option text-center" value="DR">Doctor</option>
                                      <option class="formkit-option text-center" value="SE">Secretaria</option>
                                      <option class="formkit-option text-center" value="SO">Soporte</option>
                                      <option class="formkit-option text-center" value="FA">Farmacia</option>
                                      <option class="formkit-option text-center" value="LA">Laboratorio</option>
                                      <option class="formkit-option text-center" value="BO">Bodega</option>
                                      <option class="formkit-option text-center" value="AD">Admisitrador</option>
                                    </select>
                                  </div>
                                </div>
                                </div>
                              

                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <label class="formkit-label" for="input_0">Especialidad</label>
                                    <div class="formkit-inner">
                                      <select required class="formkit-input" id="input_0" name="Dresp">
                                        <option class="formkit-option text-center" value="N/A">N/A</option>
                                        <option class="formkit-option text-center" value="GEN">General</option>
                                        <option class="formkit-option text-center" value="GIN">Ginecologia</option>
                                        <option class="formkit-option text-center" value="OBS">Obstetricia</option>
                                        <option class="formkit-option text-center" value="CAR">Cardiologia</option>
                                        <option class="formkit-option text-center" value="NEU">Neurologia</option>
                                        <option class="formkit-option text-center" value="ORT">Ortopedia</option>
                                        <option class="formkit-option text-center" value="PSI">Psicologia</option>
                                      </select>
                                    </div>
                                  </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <input type="tex" name="drestat"  value="A" style="display:none" class="form-control">
                          
                              </div>
                        <p>
                        <button  class="btn btn-primary">Crear Usuario</button>
                    </p>
                    </form>
                </div>
            </div>
        </div>
            

  </body>
</html>